Oasis Infobyte - Data Science Intern 
Task 4 - Email spam Detection with Machine Learning

In [62]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

In [63]:
data = pd.read_csv("spam.csv", encoding="ISO-8859-1")

In [64]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [65]:
data=data.drop(columns = ["Unnamed: 2","Unnamed: 3","Unnamed: 4"])
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [66]:
data=data.rename(columns={'v1':'Category','v2':'Message'})

In [67]:
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [68]:
data.shape

(5572, 2)

In [69]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [70]:
data.describe()

       Category                 Message
count      5572                    5572
unique        2                    5169
top         ham  Sorry, I'll call later
freq       4825                      30

In [71]:
data.isnull().sum()

Category    0
Message     0
dtype: int64

In [72]:
data.duplicated().sum()

403

In [73]:
data=data.drop_duplicates()

In [74]:
data.shape

(5169, 2)

In [75]:
mess=data['Message']
cat=data['Category']

In [76]:
mess_train,mess_test,cat_train,cat_test=train_test_split(mess,cat,test_size=0.2)

In [77]:
cv=CountVectorizer(stop_words='english',lowercase=True)

In [78]:
features=cv.fit_transform(mess_train)

In [79]:
model=MultinomialNB()

In [80]:
model.fit(features,cat_train)

MultinomialNB()

In [81]:
features_test=cv.transform(mess_test)

In [82]:
print(model.score(features_test,cat_test))

0.9787234042553191

In [83]:
def predict(message):
    input_message=cv.transform([message]).toarray()
    result=model.predict(input_message)
    return result
print(predict("Congratulations,you won a lottery"))
print(predict("I have completed my Task4 Data Science Intern"))

['spam']
['ham']